<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">HD2MM</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl }}/index.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://www.nexusmods.com/helldivers2/mods/109?tab=files">Download</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Help
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="{{ site.baseurl }}/help/install.html">Installation</a></li>
						<li><a class="dropdown-item" href="{{ site.baseurl }}/help/setup.html">Setup</a></li>
						<li><a class="dropdown-item" href="{{ site.baseurl }}/help/fatal_error.html">Fatal Error!</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Docs
					</a>
					<ul class="dropdown-menu">
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="{{ site.baseurl }}/docs/manifest.html">Manifest Introduction</a></li>
						<li><a class="dropdown-item" href="{{ site.baseurl }}/docs/manifest/legacy.html">Legacy Manifest</a></li>
						<li><a class="dropdown-item" href="{{ site.baseurl }}/docs/manifest/v1.html">V1 Manifest</a></li>
						<li><a class="dropdown-item" href="{{ site.baseurl }}/docs/manifest/v2_draft.html">V2 Manifest (Draft)</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://github.com/teutinsa/Helldivers2ModManager">GitHub</a>
				</li>
			</ul>
		</div>
	</div>
</nav>